{
    "presets": [
        ["@babel/preset-env",{
            "useBuiltIns": "entry"
        }], 
        "@babel/preset-react"],
        "plugins": [
            "@babel/plugin-syntax-dynamic-import",
            "@babel/plugin-transform-runtime",
            ["import", {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }]
        ]
}